@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

html,
body {
  // cursor: url('../images/man.png'), auto;
}

.wrapper {
  width: 100%;
}

.game_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.play-btn {
  cursor: pointer;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  width: 100px;
  height: 80px;
  background: rgb(124, 250, 85);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  color: rgb(61, 155, 231);
  font-family: Arial, Helvetica, sans-serif;
  &:hover {
    background: rgb(103, 231, 65);
  }
}

.playfield {
  padding: 15px;
  display: none;
  position: relative;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: #d8d8d8;
  margin: 0 auto;
  .back-to-menu {
    // position: absolute;
    // top: 10px;
    // right: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background: #f08383;
    padding: 10px;
    cursor: pointer;
    &:hover {
      background-color: #f55b5b;
    }
  }
  .counter {
    width: 40px;
    font-size: 20px;
    padding: 10px;
    background: #731fc2;
    color: #fff;
  }
}

.timer {
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  border: 1px solid;
  background: white;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.result {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  height: 300px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: #765297;
  font-size: 24px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}

.indicators {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  &-item {
    margin: 0 0 0 10px;
  }
}

.mouse {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ47N6_IMAW8XPCsGWutJpwoKDqyp_4UnkBqA&usqp=CAU");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  mix-blend-mode: darken;
  cursor: pointer;
}
