@import "variables";

.header {
  background-color: $main_color;
  /* .header__content */
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* .header__menu_wrapper */
  &__menu_wrapper {
    width: 100%;
    display: none;
    justify-content: flex-end;
    align-items: center;
    @media (max-width: $md768) {
      display: flex;
      height: 50px;
    }
  }
  /* .header__menu_icon */
  &__menu_icon {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    span {
      display: block;
      width: 34px;
      height: 3px;
      margin: 0 0 5px 0;
      background-color: $btn_color;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      &:nth-child(3) {
        margin: 0 0 0 0;
      }
    }
  }
  // logo
  &__logo {
    color: #000;
    font-size: 25px;
    font-weight: 600;
  }
  /* header__nav */
  &__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: auto;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    @media (max-width: $md768) {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: -100%;
      overflow: auto;
      padding: 15px 15px 0 15px;
      z-index: 100;
    }
  }
  /* .header__ul */
  &__ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    height: 72px;
    padding: 10px 0;
    @media (max-width: $md768) {
      flex-wrap: nowrap;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 100px 0 0 0;
    }
    @media (max-width: $md768) {
      margin: 0 0 0 0;
    }
  }
  /* .header__li */
  &__li {
    margin: 0 0 0 50px;
    &*:last-child {
      margin: 0 0 0 0;
    }
    @media (max-width: $md768) {
      margin: 0 0 30px 0;
    }
  }
  /* .header__links */
  &__links {
    display: flex;
    align-items: center;
    gap: 6px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 29 / 20 * 100%;
    text-align: right;
    color: $header_links_color;
    text-decoration: none;
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    svg path {
      fill: $text_color;
    }
    @media (max-width: $md768) {
      font-size: 30px;
      color: #fff;
      font-weight: 700;
      svg {
        width: 30px;
        height: 30px;
      }
    }

    //  swith on hover effect if display more 992px
    @media (min-width: $md768) {
      &:hover {
        color: $links_hover;
        svg path {
          fill: $links_hover;
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
        }
      }
    }
  }
}

.active-burger:nth-child(1) {
  background-color: #000;
  transform: translate(0, 9px);
  -webkit-transform: translate(0, 9px) rotate(45deg);
  -moz-transform: translate(0, 9px);
  -ms-transform: translate(0, 9px);
  -o-transform: translate(0, 9px);
}

.active-burger:nth-child(2) {
  background-color: #000;
  transform: rotate(360deg) scale(0);
  -o-transform: rotate(360deg) scale(0);
  -webkit-transform: rotate(360deg) scale(0);
  -moz-transform: rotate(360deg) scale(0);
  -ms-transform: rotate(360deg) scale(0);
}

.active-burger:nth-child(3) {
  background-color: #000;
  transform: translate(0, -7px) rotate(-45deg);
  -webkit-transform: translate(0, -7px) rotate(-45deg);
  -moz-transform: translate(0, -7px) rotate(-45deg);
  -ms-transform: translate(0, -7px) rotate(-45deg);
  -o-transform: translate(0, -7px) rotate(-45deg);
}
